//Группа формы
.form-group{

    label{
        margin-bottom: 2px;
    }
    //Стандартная форма
    .form-control {
        transition: linear .15s; 
        background: transparent;
        @include border-radius(0);
        border-color: $gray-light;

        &::-webkit-input-placeholder {
            color: $gray;
        } 
        &::-moz-placeholder {
            color: $gray;
		}

        //Форма с закругленными углами
        &-rounded{
            @include border-radius(5px);
        }

        //Форма с круглыми сторонами
        &-circle{
            @include border-radius(30px);
            padding-left: 20px;
		}
		
		//Фокус стандарт
		&:focus{
            box-shadow: none;
            background: $gray-light;
        }
        
        &-outline {
            &:focus {
                background: none; 
            }

            //Фокус фиолетовый
            &-purple:focus{
                border-color: $purple;
            }

            //Фокус красный
            &-danger:focus{
                border-color: $red;
            }
        }
    }
    
	//описание формы
	.form-text{
		color: $gray;
    }
    
    .form-text-above {
        margin: 0 0 4px 0;
    }
}