$font-family: 'Akrobat', sans-serif;
$font-size: 14px;

$box-shadow-card: 0px 3px 10px rgba(0, 0, 0, 0.15);

/* Цвета */

$purple: #934ae4;
$purple-light: #d6cbe2;
$purple-dark: #362a49;
$red: #db305a;
$orange: #f7841d;
$blue: #f7841d;
$azure: #30dbcd;
$gray: #a7a2b1;
$gray-light: #f2f0f5;
$white: #ffffff;

$text-color: #1a1521;